.main {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  min-height: 100vh;
}

.searchSection {
  display: flex;
  flex-direction: column;
}

.tableSection {
  display: flex;
  flex-direction: column;
  height: 78vh;
  justify-content: space-between;
  margin-top: 20px;
}

.pageSection {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
  color: aqua;
}
